.contact-container {
    width: 100%;
    height: 100%;
    padding: 10%;
}

.contact-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.contact-header p {
    font-size: 12px;
    font-weight: 500;
    color: #9c9c9c;
}

.contact-header h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
}

.contact-header span {
    color: #0ef;
}

.contact-content {
    display: flex;
    flex-direction: column-reverse;
    border: 2px solid #323846;
    border-radius: 10px;
}

.contact-info {
    width: 100%;
    padding: 30px 20px 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-info p {
    font-size: 1.2rem;
    font-weight: 500;
    color: #9c9c9c;

}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #323846;
    padding: 30px 20px 60px;
    gap: 20px;
}

form input,textarea {
    width: 100%;
    background-color: #323846;
    border: none;
    color: #fff;
    border-bottom: 1px solid rgb(94, 93, 93);
}

form input {
    padding: 5px 0 60px 0;
}

form textarea {
    padding: 10px 0 70px 0;
    margin-bottom: 10px;
}

input::placeholder, textarea::placeholder {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
}

input:focus, textarea:focus {
    outline: none;
}

.btn {
    width: 170px;
    background-color: #0ef;
    height: 50px;
    border: none;
}

.willing {
    display: flex;
    align-items: center;
}

.last .single-skill,.first .single-skill {
    gap: 15px;
    padding: 0 10px;
}

.last .single-skill .skill-name h3,.first .single-skill .skill-name h3 {
    font-size: .9rem;
    font-weight: 600;
}

.last .skill-icon img, .first .skill-icon img {
    width: 50px;
    height: 50px;
}


.willing h3 {
    font-size: 1rem;
    color: #fff;
    font-weight: 600;
    padding: 5px;
    border-radius: 30px;
    position: relative;
    padding: 10px 15px 10px 30px;
    border: 1px solid rgb(90, 90, 90);
}

.willing h3::before {
    content: "";
    width: 10px; 
    height: 10px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    animation: changeOpacity 1.3s ease forwards infinite;
}

@keyframes changeOpacity {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media (max-width: 768px) {

    .contact-container {
        padding: 10% 5%;
    }

    input::placeholder, textarea::placeholder {
        font-size: .8rem;
    }

    form input {
        padding: 5px 0 40px 0;
    }
    
    form textarea {
        padding: 10px 0 50px 0;

    }

    .btn {
        width: 160px;
        height: 40px;
        font-size: 0.7rem;
    }

    .willing h3 {
        font-size: .7rem;
        padding: 10px 10px 10px 25px;
    }
    
    .contact-info p {
        font-size: 1rem;    
    }
}

@media (min-width: 1300px) {
    .contact-content {
        flex-direction: row;
    }

    .contact-info {
        width: 35%;
    }

    form {
        width: 65%;
    }

    .contact-info {
        padding: 20px 30px;
    }

    .contact-container {
        padding: 5% 15% 8%;
    }
    
}
