* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

body {
  background-color: #20242D;
  margin: 0;
  overflow-x: hidden;
}

.menue {
  display: none;
}

header {
  background-color: #fff;
}

.menuLvl {
  display: block;
  background-color: #6070ff;
  width: 254%;
  height: 2.5px;
  margin: 4px;
  border-radius: 2px;
}

.menu {
  position: fixed;
  display: block;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: -24px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  background-color: #6070ff;
  mix-blend-mode: multiply;
  backdrop-filter: blur(7px);
  color: white;
  list-style: none;
  padding-top: 4rem;
  font-weight: 800;
  height: 100vh;
}

.hamburger {
  position: absolute;
  z-index: 10;
  top: 1.6rem;
  right: 1rem;
  padding: 4px;
  cursor: pointer;
  border: none;
  background: none;
}

.menuIcon {
  color: #6070ff;
}

.closeIcon {
  color: #fff;
  position: fixed;
  margin-left: -28px;
  display: none !important;
}

.show-menu {
  transform: translateY(0%);
}

.menuItem {
  display: block;
  margin: 2rem;
  font-size: 2rem;
  font-weight: 600;
  color: white;
  text-decoration: none;
  margin-left: 0;
}

nav #logo {
  margin: 0;
  padding: 8px;
  width: 35px;
  height: 30px;
}

#mylogo {
  animation: rotate 1.5s ease-in-out;
}

nav #mylogo {
  margin: 0;
  padding: 10px 12px;
  height: 40px;
  text-decoration: none;
  font-weight: 700;
  margin-top: 14%;
}

#Headline-Title {
  margin: 0;
  width: 90%;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  display: flex;
  align-items: center;
  font-style: normal;
}

#Headline-Text {
  width: 80%;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  font-style: normal;
}

.helpingtext {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #7f8cff;
  order: 0;
  margin: 0;
}


#Headline-Title:hover {
  color: #6070ff;
}

.helpingtext:hover {
  color: #1a237e;
}

.belowtext {
  width: 170.17px;
  height: 20px;
  padding: 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  list-style: none;
}

.socialmedia ul {
  width: 170.17px;
  height: 20px;
  padding: 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  list-style: none;
}

.headline {
  background-color: #fff;
  border-bottom-left-radius: 80px;
  gap: 12px;
  background-image: url(/req/hero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 114px 24px 114px 24px;
}

.Box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 18px;
  gap: 14px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 18px;
}

.box-image {
  width: 100%;
  border-radius: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 18px;
  gap: 12px;
  order: 1;
  flex-grow: 0;
}

.content-title {
  font-style: normol;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  color: #172b4d;
  margin: 0;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.text-title {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  padding: 0;
  gap: 12px;
  align-items: center;
}

.client {
  height: 14px;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
  font-size: 15px;
  line-height: 16px;
  margin: 0;
  color: #344563;
}

.client-skills {
  font-weight: 600;
  font-size: 14px;
  margin: 0;
  line-height: 17px;
  font-style: normal;
  text-decoration: none;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: #7a869a;
}

.dot {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #c1c7d0;
  display: inline-block;
}

.link-div {
  display: flex;
  gap: 20px;
}

.resume {
  color: #396df2;
  font-size: 17px;
  font-weight: 500;
  background-color: #fff;
  padding: 10px 14px;
  display: flex;
  border-radius: 8px;
  border-color: #6070ff;
}

.resume:hover {
  background-color: #6070ff;
  color: #fff;
}

.dropdown {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin-bottom: 57px;
}

.period {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  line-height: 16px;
  font-style: normal;
  text-decoration: none;
  color: #7a869a;
}

.content-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  flex: none;
  order: 1;
  flex-grow: 0;
  color: #344563;
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 0;
  width: 203px;
  height: 25px;
  flex: none;
  order: 2;
  flex-grow: 0;
  list-style: none;
}

.style {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  line-height: 15px;
  letter-spacing: 0.03em;
  padding: 5px 12px;
  border-radius: 8px;
  color: #6070ff;
  background: #ebebff;
}

.style:hover {
  transform: scale(1.3);
  transition-duration: 0.3s;
  background-color: #6070ff;
  color: white;
}

#error-msg {
  background-color: blanchedalmond;
  color: black;
  text-align: center;
  padding: 8px;
  border-radius: 8px;
  border: 2px solid black;
  display: none;
  font-size: 1.5rem;
}

.link {
  padding: 13px;
  gap: 10px;
  left: 0;
  background-color: #fff;
  border: 1px solid #6070ff;
  border-radius: 9px;
  letter-spacing: 0.04em;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  order: 3;
  color: #396df2;
  margin: 0;
}

.drop {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.union {
  height: 10px;
  align-self: center;
}

.union-down {
  height: 18px;
  align-self: center;
}

.link:hover {
  transform: scale(1.3);
  transition-duration: 0.3s;
  background-color: #6070ff;
  color: #fff;
}

.link:active {
  background-color: #2230d2;
  color: #fff;
}

.about {
  background-color: #20242D;
  border-radius: 0 80px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 114px 24px 24px;
  flex-wrap: wrap;
}

.about-header {
  line-height: 52px;
  font-size: 40px;
  font-weight: 700;
}

.lang1 {
  display: flex;
  padding: 0;
  justify-content: space-between;
  margin-top: 11%;
  margin-left: 7%;
}

.lang {
  display: flex;
  padding: 0;
  justify-content: space-between;
  margin-left: 7%;
}

.drop-box {
  display: flex;
  flex-direction: column;
  position: relative;
  right: 4%;
}


.bottonIcon,
.bottonIcon > img {
  display: block;
  margin: 0 auto;
  z-index: 200;
}

.bottonIcon > img {
  width: calc(100% / 2);
}

.drop-li {
  display: flex;
  background-color: #f7f7f9;
  gap: 2%;
  margin-top: 12px;
  transition: background-color 300ms, scale 500ms;
}

.drop-li:hover {
  background-color: #dadadc;
  scale: 1.1;
}

@media (max-width: 279px) {
  .drop-li {
    flex-direction: column;
  }
}

@media (max-width: 325px) {
  .about-text {
    font-weight: 400;
    line-height: 24px;
  }
}

@media (min-width: 507px) {
  #Headline-Text {
    width: 90%;
  }

  .Navbar {
    justify-content: space-between;
  }
}

@media (min-width: 672px) {
  .drop-box {
    right: 0;
  }
}

@media (min-width: 768px) {
  .Box {
    flex-direction: row;
    width: 80%;
    margin: auto;
  }

  .menuIcon {
    display: none;
  }

  .hamburger {
    display: none;
  }

  .drop-box {
    flex-direction: row;
    gap: 3%;
    margin-right: 8%;
    margin-left: -6%;
    left: 3%;
  }

  .drop-li {
    flex-direction: column;
    justify-content: center;
    width: 122px;
    border-radius: 8px;
    padding-left: 12px;
    min-height: 120px;
  }

  .drop-li > p {
    margin-bottom: 0;
  }

  .drop-li > img {
    width: 48px;
  }

  .box-image {
    transform: translate(1.2);
    height: min(448px, 48vw);
    width: min(376px, 41vw);
  }

  .box-image:hover {
    transform: scale(0.99);
  }

  .Box > .content,
  .Box > .box-image {
    flex: 1;
  }

  .Box > .content {
    align-self: stretch;
  }

  .content-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.3;
  }

  .Box:nth-child(2n) .content {
    order: -1;
  }

  .bottonIcon {
    display: none;
  }

  .union {
    margin-right: 33%;
  }

  .union-down {
    margin-right: 33%;
  }

  .Navbar {
    justify-content: space-between;
  }

  .content-text {
    width: 100%;
  }

  #logo {
    display: none;
  }

  .menue {
    position: absolute;
    display: flex;
    gap: 10%;
    left: 57%;
    right: 9.8%;
    padding: 0;
  }

  .menue-icon {
    color: #4d5c77;
    font-weight: 500;
    line-height: 20px;
  }

  nav #mylogo {
    margin-top: 20%;
    margin-left: 44%;
  }

  #Headline-Text {
    width: 69%;
    margin: 0;
    margin-left: 18%;
    margin-top: 1%;
    font-size: 1.4rem;
    line-height: 1.3em;
  }

  #Headline-Title {
    margin: 0;
    margin-left: 18%;
  }

  .headline {
    height: 61vh;
    overflow-x: hidden;
  }

  .socialmedia .helpingtext {
    margin-left: 18%;
    margin-top: 8%;
    margin-top: 2%;
    font-size: 1.4rem;
  }

  .socialmedia .belowtext {
    margin-left: 18%;
  }

  .about {
    padding: 142px 0 142px 208px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 118px;
  }
}

@media (min-width: 1020px) {
  .box-image {
    align-self: center;
    height: min(448px, 80vw);
    width: min(544px, 44vw);
  }
}

@media (min-width: 1247px) {
  #logo {
    display: none;
  }

  .drop-box {
    margin-left: -4%;
  }

  .menue {
    position: absolute;
    display: flex;
    gap: 10%;
    left: 71%;
    right: 9.8%;
    padding: 0;
    top: 2%;
    font-size: 1rem;
  }

  .menue-icon {
    color: #4d5c77;
    font-weight: 500;
    line-height: 20px;
  }

  .headline {
    width: 100%;
    height: 50rem;
  }

  #Headline-Title {
    margin: 0;
    margin-left: 13%;
  }

  #Headline-Text {
    margin: 0;
    width: 70%;
    margin-left: 13%;
    margin-top: 1%;
  }

  .socialmedia .helpingtext {
    margin: 0;
    margin-left: 13%;
    margin-top: 2%;
  }

  .socialmedia .belowtext {
    margin: 0;
    margin-left: 13%;
  }

  nav #mylogo {
    margin-top: 20%;
    margin-left: 106%;
  }
}
