@font-face {
  font-family: poppins-font;
  src: url('/fonts/Poppins-Bold.woff2') format('woff2');
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #1f242d;
  --second-bg-color: #323943;
  --main-color: #0ef;
  --text-color: #fff;
}

body {
  background-color: var(--bg-color);
  margin: 0;
  color: var(--text-color);
}
